
body {
  background-image: url("./assets/TDS-on-Bank-Deposit-and-Interest.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-size: cover;
  background-blend-mode:multiply ;
  background-position: center center;
  background-attachment: fixed;

}